@page
@model AirportExplorer.Pages.TestMapboxModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8' />
    <title>TestMapbox</title>
    <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />    
    <script src='https://api.mapbox.com/mapbox-gl-js/v0.47.0/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v0.47.0/mapbox-gl.css' rel='stylesheet' />
</head>
<body>
    <h1>Welcome to Airport Explorer!</h1>

    <div id='map' style='width: 400px; height: 300px;'></div>


    <script>
        mapboxgl.accessToken = 'pk.eyJ1IjoibWFyaW5vbmkiLCJhIjoiY2pqdG9wZDJ1NGYzYzNrcm12bWZ2czNtYiJ9.zCLZTIBbm2EDveuEcPnwsg';
        var map = new mapboxgl.Map({
            container: 'map',
            style: 'mapbox://styles/mapbox/light-v9'
        });
    </script>

</body>
</html>
